#dropdown {
    background-color: white;
    min-width: 200px;
    position: relative;
    z-index: 999;
}

#dropdown a {
    color: black;
}

#dropdown td {
    padding: .1rem;
    padding-left: .75rem;
    cursor: pointer;
}

.langSub {
    font-style: italic;
    color: grey;
}
.progress{
    height: 7px;

}
.progress-bar{
    background-color: limegreen;
}
a {
    color: #007bff;
}

.multiselect-selected-text,
.dropdown-toggle{
    color: white;
}

.keywords,
.keywords1,
.keywords2,
.keywords3,
.keywords4 {
    display: inline-block;
    padding: 0px 2px;
    font-size: 60%;
    font-weight: 600;
    border-radius: 2px;
    color: white;
    background: #bfbfbf;
    cursor: pointer;
}

.keywords1 {
    background: #145671;
}

.keywords2 {
    background: #347B98;
}

.keywords3 {
    background: #66B032;
}

.keywords4 {
    background: #B2D732;
}

.MD_type {
    color: gray;
}
